@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');

body{
    margin: 0px;
    padding: 0px;
    background-color: #f0f0f0;
}

/* Navbar */
.navbar{
    background-color: #9511bd;
    width: 100vw;
    height: auto;
}

.container{
    background-color: #9511bd;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
}

.flex-nav{
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-item{
    background-color: #9511bd;
    margin: 1rem 1rem;
}

.navbar-item a{
    background-color: #9511bd;
    color: white;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
}

.navbar-item a:hover{
    border-bottom: 2px solid white;

}





/* Password */
.content{
    padding-top: 50px;
}

.msg{
    margin: 2px 15vw;
    padding-top: 4px;
    padding-bottom: 4px;
    text-align: center;
    border-radius: 8px;
}

.msg-error{
    background-color: #f8d7da;
    color: #a00;
    border: 2px solid #f8c0c0;
}

.msg-success{
    background-color: #d4edda;
    color: #0a0;
    border: 2px solid #c0edc0;
}

.msg > p{
    font-family: 'IBM Plex Sans', sans-serif;
}

.content h1{
    text-align: center;
    font-family: 'PT Sans Narrow', sans-serif;    
}

.content table{
    margin-left: auto;
    margin-right: auto;
}

.content table tr td{
    font-family: 'IBM Plex Sans', sans-serif;
    padding: 6px;
}

.content table tr td input{
    font-family: 'IBM Plex Sans', sans-serif;
}

.content table tr:nth-child(5){
    text-align: center;
}

input[type=submit],
input[type=reset]{
    color: white;
    width: 100px;
    height: 32px;
    border: 1px solid black;
    border-radius: 4px;
    transition-duration: 0.2s;    
}

input[type=submit]:hover,
input[type=reset]:hover{
    cursor: pointer;    
}

input[type=submit]{
    background-color: rgb(30, 207, 30);
}

input[type=submit]:hover{
    background-color: green;
}

input[type=reset]{
    background-color: red;
}

input[type=reset]:hover{
    background-color: darkred;
}